* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

nav {
    background-color: rgb(210, 96, 96);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
}

nav h2 {
    color: white;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    color: white;
    margin: 0px 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0px 10px;
}

.shop {
    display: flex;
    align-items: center;
}

.shop p {
    color: white;
    margin-left: 12px;
}

.count {
    margin-top: 30px;
    background-color: rgb(210, 96, 96);
    max-width: 20%;
    padding: 8px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons button {
    font-size: 26px;
    border: none;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.buttons p {
    width: 100%;
    text-align: center;
    font-size: 26px;
    color: white;
}

.add-cart button {
    width: 100%;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    background-color: white;
    padding: 10px 0px;
    cursor: pointer;
}

.detail {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border: 2px solid red;
}

.cart {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(210, 96, 96);
    border-radius: 5px;
    margin-top: 10px;
}

.infoCart {
    background-color: rgb(191, 191, 191);
    padding: 20px;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.cartBtn {
    margin-top: 40px;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.empty {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 40px;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form input {
    padding: 10px;
    margin: 10px;
}

.idGenerado {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 40px;
}
